{% extends "base_generic.html" %}

{% block content %}
    <h1>Day Detail</h1>
    <h3>{{ day.get_day_of_week_display }}, {{ day.date_meal }}</h3>
    {% for meal in day.meal.all %}
        <p><a href="{% url 'meal-detail' meal.pk %}">{{ meal }}</a></p>
    {% endfor %}
    <p>{{ day.meal.ingredients }}</p>
    <p>{{ day.meal.get_meal_type_display }}</p>
    <a href="{% url 'day-update' day.pk %}"><button type="button" class="btn btn-info">Edit Day</button></a>
    <a href="{% url 'day-delete' day.pk %}"><button type="button" class="btn btn-danger">Delete Day</button></a>

{% endblock %}